* {box-sizing: border-box;}

body {
	margin: 0;
	padding: 0;
}

/* Header */

.header {
	top: 0px;
	height: 60px;
	background-color: #310087;
}

.header a#logo {
	padding: 10px 50px 18px 130px;
	float: left;
}

.header h2#headerText {
	padding-right: 20px;
	color: white;
	float:right;
}

/* Sidenav */

.sidenav {	
  width: 110px;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0px;
  background: #310087;
  overflow-x: hidden;
  padding: 70px 0 0 0;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
}

.sidenav img {
	padding: 6px 8px 6px 16px;
}

.sidenav a:hover {
  background-color: white;
  color: #310087;
}

/* Page container */

#page-container {
	margin-left: 140px; 
	padding: 0px 10px 70px 50px;
	position: relative;
	min-height: 100%;
}

p.errorMsg {
	color: red;
}

p.success {
	color: green;
}

h3.purple {
	color: #310087;
}

div#buttons {
	padding-top: 20px;
}

/* Forms */

label {
  display: block;
  margin-bottom: 6px;
}

input[type='submit'] {
	display: block;
	margin-top: 20px;
}

/* Plane elements */

div.plane {
	border: 1px solid black;
	display: inline-block;
	padding: 26px;
}

.plane ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: table;
}

ul .row li {
	display: inline-block;
	vertical-align: middle;
	width: 40px;
	height: 30px;
	text-align:center;
 	border: 1px solid black;
 	background-color: #129912;
 	margin-top: 5px;
 	margin-bottom: 5px;
 	margin-left: 10px;
}

ul .row li:hover {
	background-color: white;
}

li .seatAisle {
	margin-right: 20px;
}

/* Footer */

#footer {
	margin: 0;
	padding: 0;
	bottom: 0;
	position: fixed;
   	width: 100%;
	height: 40px;            /* Footer height */
	background-color: #310087;
	color: white;	
}

#footer .footer-right {
	padding-right: 15px;	
	float: right;
	font-size: 14px;
}
